@import 'https://fonts.googleapis.com/css?family=Raleway:200,400,800';
* {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  box-sizing: border-box; }

body {
  background-color: #EBEBEB; }

.main-width {
  width: 85%;
  margin: 0 auto; }
  @media (max-width: 900px) {
    .main-width {
      width: 95%;
      margin: 0 auto; } }

.top {
  display: flex;
  justify-content: space-between; }

.logo, .form {
  margin: 1.5em 0 1.5em 0; }

.top .form {
  position: relative;
  display: block;
  padding: 0; }

.form input[type=submit] {
  width: 11.85rem;
  height: 2.14rem;
  background-color: #43C6D7;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 0px solid #000000;
  color: white; }

.form input[type=search] {
  width: 10.71rem; }
  .form input[type=search]::after {
    background: url("./../images/Shape-5.png");
    position: absolute;
    left: 130px;
    top: 5px;
    border-left: 1px solid #cacaca;
    padding: 10px;
    display: block;
    height: 15px; }

.nav {
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  background-color: white; }
  .nav .menu {
    margin: 0; }

.navbar {
  margin: 1.5rem 0 0 0;
  font-size: 13px;
  padding: 0 0 0 1.4rem; }
  .navbar li {
    display: inline-block;
    padding: .4rem;
    border-right: 1px solid #EBEBEB; }
    .navbar li:hover {
      color: #43C6D7; }

.bank-name {
  display: flex;
  align-items: center;
  margin-right: .8rem; }

.bank-name p {
  font-size: 21px; }

.banner {
  position: relative; }

.triangle-pattern {
  background-image: url("./../images/triangle.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  height: .71rem; }

.square-pattern {
  height: .71rem;
  background-color: #43C6D7; }

.banner img {
  width: 100%; }

.text {
  position: absolute;
  z-index: 4;
  bottom: 30%;
  right: 0;
  background-color: #43C6D7;
  width: 26.78rem;
  height: 14.64rem;
  border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px; }
  .text p, .text h3 {
    color: white;
    margin-bottom: 0.35em;
    width: 100%;
    left: 10%; }
  .text h3 {
    position: absolute;
    top: 30%;
    font-size: 28px;
    margin-top: 0;
    font-weight: 400;
    letter-spacing: 1px; }
  .text p {
    position: absolute;
    top: 10%;
    font-size: 17px; }
  .text a {
    position: absolute;
    bottom: 10%;
    left: 10%;
    display: block;
    text-decoration: none;
    margin: 0 auto;
    width: 13.92rem;
    height: 3.21rem;
    background-color: black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: white;
    line-height: 3.21rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px; }
    .text a:hover {
      font-weight: bold; }

.products {
  background-color: white;
  min-height: 28.57rem;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around; }

.colleft, .collright {
  margin: 3.21rem 1rem 3.21rem 1rem; }
  .colleft h3, .collright h3 {
    font-size: 27px;
    font-weight: 400;
    color: #656565; }
  .colleft a, .collright a {
    font-size: 18px;
    color: #43C6D7; }

.colleft {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  align-items: center; }
  .colleft p {
    width: 18rem;
    height: 10.28rem;
    font-size: 14px;
    color: #656565; }
  .colleft a {
    width: 18rem;
    display: block;
    text-align: right;
    margin: 2.5rem 0 0 3.21rem; }
  @media (max-width: 1020px) {
    .colleft p, .colleft a {
      width: 30rem; } }
  @media (max-width: 600px) {
    .colleft p, .colleft a {
      width: 18rem; } }

.colleft-image img {
  width: 100%; }

.collright {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .collright h3 {
    width: 23.92rem; }

.slider-section {
  width: 23.92rem;
  padding-bottom: 1.42rem;
  border-bottom: 2px solid #43C6D7; }
  .slider-section .slider-value {
    display: flex;
    justify-content: space-between; }
  .slider-section .slider {
    position: relative;
    height: 1.42rem;
    background-color: #EBEBEB; }
    .slider-section .slider .slider-handle {
      position: absolute;
      top: -50%;
      width: 4.5rem;
      height: 2.71rem;
      background-color: #43C6D7;
      color: #ffffff;
      line-height: 2.71rem;
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      text-align: center;
      letter-spacing: 3px; }
    .slider-section .slider span {
      font-size: 14px; }
  @media (max-width: 1020px) {
    .slider-section {
      width: 30rem; } }
  @media (max-width: 600px) {
    .slider-section {
      width: 23rem; } }

.sum {
  display: flex;
  justify-content: space-between;
  width: 23.92rem;
  margin-top: 20px; }

.total-value {
  font-size: 1.42rem;
  margin: 0; }
  .total-value span {
    font-size: 22px;
    color: #43C6D7; }

.services {
  background-color: #43C6D7;
  min-height: 26.85rem;
  padding-top: 2.85rem;
  text-align: center;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around; }
  .services h4, .services p, .services a {
    color: #ffffff; }
  .services h4 {
    font-size: 32px;
    font-weight: 500;
    margin: 1.42rem 0 0.71rem; }
  .services p {
    font-size: 16px;
    font-weight: 400;
    margin: 0.71rem 0; }
  .services .button {
    width: 17.28rem;
    height: 3.85rem;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 1px solid #ffffff;
    margin: 2.14rem auto; }
  .services a {
    font-size: 22px;
    line-height: 3.85rem;
    text-decoration: none; }
    .services a:hover {
      font-weight: bold; }

.client_products {
  min-height: 26.78rem;
  background-color: #ffffff;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around; }
  .client_products h4, .client_products li {
    color: #717070; }
  .client_products h4 {
    font-size: 18px;
    font-weight: 600; }
  .client_products li {
    font-size: 14px;
    font-weight: 400;
    line-height: 2.14rem; }
    .client_products li:hover {
      color: #43C6D7; }
  .client_products ul {
    list-style-image: url("./../images/square.png"); }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a0a0a0; }
  .footer p {
    font-size: 12px;
    margin-right: 1rem; }
  .footer span {
    font-size: 16px; }

@media (max-width: 900px) {
  .banner {
    overflow: hidden; }
  .text {
    right: -25%; } }
