@import 'https://fonts.googleapis.com/css?family=Raleway:200,400,800';
* {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  box-sizing: border-box; }

body {
  background-color: #EBEBEB; }

.main-width {
  width: 85%;
  margin: 0 auto; }

.top {
  display: flex;
  justify-content: space-between; }

.logo, .form {
  margin: 1.5em 0 1.5em 0; }

.top .form {
  position: relative;
  display: block;
  padding: 0; }

.form input[type=submit] {
  width: 166px;
  height: 30px;
  background-color: #43C6D7;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 0px solid #000000;
  color: white; }

.form input[type=search] {
  width: 150px; }
  .form input[type=search]::after {
    background: url("./../images/Shape-5.png");
    position: absolute;
    left: 130px;
    top: 5px;
    border-left: 1px solid #cacaca;
    padding: 10px;
    display: block;
    height: 15px; }

.nav {
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  background-color: white; }
  .nav .menu {
    margin: 0; }

.navbar {
  margin: 1.5em 0 0 0;
  font-size: 13px;
  padding: 0 0 0 20px; }
  .navbar li {
    display: inline-block;
    padding: .4em;
    border-right: 1px solid #EBEBEB; }
    .navbar li:hover {
      color: #43C6D7; }

.bank-name {
  display: flex;
  align-items: center;
  margin-right: .8em; }

.bank-name p {
  font-size: 21px; }

.banner {
  position: relative; }

.triangle-pattern {
  background-image: url("./../images/triangle.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  height: 10px; }

.square-pattern {
  height: 10px;
  background-color: #43C6D7; }

.banner img {
  width: 100%; }

.text {
  position: absolute;
  z-index: 4;
  bottom: 175px;
  right: 0;
  background-color: #43C6D7;
  width: 375px;
  height: 205px;
  border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  border: 0px solid #000000; }
  .text p, .text h3 {
    color: white;
    margin-bottom: 5px;
    width: 100%; }
  .text h3 {
    position: absolute;
    top: 55px;
    left: 38px;
    font-size: 28px;
    margin-top: 0;
    font-weight: 400;
    letter-spacing: 1px; }
  .text p {
    position: absolute;
    top: 15px;
    left: 38px;
    font-size: 17px; }
  .text a {
    position: absolute;
    bottom: 20px;
    left: 30px;
    display: block;
    text-decoration: none;
    margin: 0 auto;
    width: 195px;
    height: 45px;
    background-color: black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 0px solid #000000;
    color: white;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px; }
    .text a:hover {
      font-weight: bold; }

.products {
  background-color: white;
  height: 400px; }

.colleft, .collright {
  margin-top: 45px; }
  .colleft img, .collright img {
    margin-top: 75px; }
  .colleft h3, .collright h3 {
    font-size: 27px;
    font-weight: 400;
    color: #656565; }
  .colleft #collleft-text, .colleft h3, .collright #collleft-text, .collright h3 {
    margin-left: 45px; }
  .colleft #collleft-text, .collright #collleft-text {
    width: 252px;
    height: 144px;
    font-size: 14px;
    color: #656565; }
  .colleft a, .collright a {
    font-size: 18px;
    color: #50c5da; }

.colleft a {
  width: 252px;
  display: block;
  text-align: right;
  margin: 35px 0 0 45px; }

.slider-section {
  display: flex;
  flex-direction: column;
  width: 335px;
  margin-left: 45px;
  padding-bottom: 20px;
  border-bottom: 2px solid #43C6D7; }
  .slider-section .slider-value {
    width: 335px;
    display: flex;
    justify-content: space-between; }
  .slider-section .slider {
    position: relative;
    width: 335px;
    height: 20px;
    background-color: #EBEBEB; }
    .slider-section .slider .slider-handle {
      position: absolute;
      top: -50%;
      width: 63px;
      height: 38px;
      background-color: #43C6D7;
      color: #ffffff;
      line-height: 38px;
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      text-align: center;
      letter-spacing: 3px; }
    .slider-section .slider span {
      font-size: 14px; }

.sum {
  display: flex;
  justify-content: space-between;
  width: 335px;
  margin: 20px 0 0 45px; }

.total-value {
  font-size: 18px;
  margin: 0; }
  .total-value span {
    font-size: 22px;
    color: #43C6D7; }

.services {
  background-color: #43C6D7;
  height: 376px;
  padding-top: 40px;
  text-align: center; }
  .services h4, .services p, .services a {
    color: #ffffff; }
  .services h4 {
    font-size: 32px;
    font-weight: 500;
    margin: 20px 0 10px; }
  .services p {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0; }
  .services a {
    font-size: 22px;
    line-height: 54px;
    text-decoration: none; }
    .services a:hover {
      font-weight: bold; }
  .services .button {
    width: 242px;
    height: 54px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 1px solid #ffffff;
    margin: 30px auto; }

.client_products {
  height: 375px;
  background-color: #ffffff; }
  .client_products .client_products-collumn {
    padding: 20px 0 0 65px; }
  .client_products h4, .client_products li {
    color: #717070; }
  .client_products h4 {
    font-size: 18px;
    font-weight: 600; }
  .client_products li {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px; }
    .client_products li:hover {
      color: #43C6D7; }
  .client_products ul {
    list-style-image: url("./../images/square.png"); }

.footer {
  color: #a0a0a0; }
  .footer p {
    font-size: 12px; }
  .footer span {
    font-size: 16px; }

.footer-right {
  text-align: right; }

.grid-container {
  width: 100%;
  max-width: 1200px; }

.row:before,
.row:after {
  content: " ";
  display: table;
  clear: both; }

[class*="col-"] {
  float: left;
  min-height: 1px;
  margin-bottom: .8em; }

.col-sm-1 {
  width: 16.66%; }

.col-sm-2 {
  width: 33.32%; }

.col-sm-3 {
  width: 49.98%; }

.col-sm-4 {
  width: 66.64%; }

.col-sm-5 {
  width: 83.3%; }

.col-sm-6 {
  width: 99.96%; }

@media (min-width: 400px) {
  .col-md-1 {
    width: 16.66%; }
  .col-md-2 {
    width: 33.32%; }
  .col-md-3 {
    width: 49.98%; }
  .col-md-4 {
    width: 66.64%; }
  .col-md-5 {
    width: 83.3%; }
  .col-md-6 {
    width: 99.96%; } }

@media (min-width: 1025px) {
  .col-lg-1 {
    width: 16.66%; }
  .col-lg-2 {
    width: 33.32%; }
  .col-lg-3 {
    width: 49.98%; }
  .col-lg-4 {
    width: 66.64%; }
  .col-lg-5 {
    width: 83.3%; }
  .col-lg-6 {
    width: 99.96%; } }
