* {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    box-sizing:border-box;
}

body {
  background-color: #EBEBEB;
}

.main-width {
    width: 85%;
    margin: $center;
}

//Sekcja górna z logo i searchem

.top {
    display: flex;
    justify-content: space-between;
}

.logo, .form {
    margin: 1.5em 0 1.5em 0;
}

.top .form {
    position: relative;
    display: block;
    padding: 0;
}

.form input[type=submit]{
  width: 11.85rem;
  height: 2.14rem;
  background-color: $primary-color;
  @include radius(10px);
  border: 0px solid #000000;
  color: white;
  &:hover {
    background-color: white;
    border: 1px solid $primary-color;
    color: black;
  }
}

.form input[type=search]{
  width: 10.71rem;
  &::after {
    background: url("./../images/Shape-5.png");
    position: absolute;
    left: 130px;
    top: 5px;
    border-left: 1px solid #cacaca;
    padding: 10px;
    display: block;
    height: 15px;
  }
}



//Sekcja z nawigacja

.nav {
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  background-color: white;
    .menu{
        margin:0;
    }
}

.menu-bars {
        display: none;
      }

.navbar {
  margin: 1.5rem 0 0 0;
  font-size: 13px;
  padding: 0 0 0 1.4rem;
  li {
    display: inline-block;
    padding: .4rem;
    border-right: 1px solid #EBEBEB;
    &:hover {
         color: $primary-color; 
      }
  }
}

.bank-name {
  display: flex;
  align-items: center;
  margin-right: .8rem;
}

.bank-name p {
  font-size: 21px;
}

// Sekcja header ze zdjęciem

.banner{
  position: relative;
}

.triangle-pattern {
  background-image: url("./../images/triangle.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  height: .71rem;
}

.square-pattern {
  height: .71rem;
  background-color: $primary-color;
}

.banner img {
  width: 100%;
}

.text {
    position: absolute;
    z-index: 4;
    bottom: 30%;
    right: 0;
    background-color: $primary-color;
    width: 26.78rem;
    height: 14.64rem;
    @include radius(10px 0 0 10px);
    &:hover {
      animate: pulsowanie 1s linear 1;
  }
    p, h3 {
        color: white;
        margin-bottom: 0.35em;
        width: 100%;
        left: 10%;
    }
    h3 {
        position: absolute;
        top:30%;
        font-size: 28px;
        margin-top: 0;
        font-weight:400;
        letter-spacing: 1px;
    }
    p {
        position: absolute;
        top: 10%;
        font-size: 17px;
    }
    a {
        position: absolute;
        bottom: 10%;
        left: 10%;
        display: block;
        text-decoration: none;
        margin: $center;
        width: 13.92rem;
        height: 3.21rem;
        background-color: black;
        @include radius(10px);
        color: white;
        line-height: 3.21rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        &:hover {
          background-color: #EBEBEB;
          border: 1px solid black;
          color: black;
          font-weight: 600;
        }
    }
}

// Sekcja z produktami

.products {
    background-color: white;
    min-height: 28.57rem;
    @include flexing-row;
}

.colleft, .collright {
    margin: 3.21rem 1rem 3.21rem 1rem;
    h3 {
        font-size: 27px;
        font-weight: 400;
        color: #656565;
    }
    a {
        font-size: 18px;
        color: $primary-color; 
    }
}

.colleft {
    @include flexing-row;
    align-items: center;
    p {
        width: 18rem;
        height: 10.28rem;
        font-size: 14px;
        color: #656565;
    }
    a {
        width: 18rem;
        display: block;
        text-align: right;
        margin: 2.5rem 0 0 3.21rem;
    }
    p, a {
        @include lg-tablet {
            width: 30rem;
        }
        @include smartphone {
            width: 18rem;
        }
    }
}

.colleft-image img {
    width: 100%;
}

.collright {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h3 {
        width: 23.92rem;
    }
}

.slider-section {
    width: 23.92rem;
    padding-bottom: 1.42rem;
    border-bottom: 2px solid $primary-color;
    .slider-value {
      display: flex;
      justify-content: space-between;
      span {
        font-size: 16px;
      }
    }
    .slider{
      position: relative;
      height: 1.42rem;
      background-color: #EBEBEB;
      .ui-slider-handle {
        position: absolute;
        top: -50%;
        width: 4.5rem;
        height: 2.71rem;
        @include radius(10px);
        background-color: $primary-color;
        &::after {
          content: "|||";
        }
        color: #ffffff;
        line-height: 2.71rem;
        text-align: center;
        letter-spacing: 3px;
        }
    }
    @include lg-tablet {
        width: 30rem;
    }
    @include smartphone {
        width: 23rem;
    }
}

.sum {
    display: flex;
    justify-content: space-between;
    width: 23.92rem;
    margin-top: 20px;  
}

.total-value {
    font-size: 1.42rem;
    margin: 0;
    span {
        font-size: 22px;
        color: $primary-color;
    }
}


//Services part

.services {
    background-color: $primary-color;
    min-height: 26.85rem;
    padding-top: 2.85rem;
    text-align: center;
    @include flexing-row;
    h4, p, a {
        color: #ffffff;
    }
    h4 {
        font-size: 32px;
        font-weight: 500;
        margin: 1.42rem 0 0.71rem;
    }
    p {
        font-size: 16px;
        font-weight: 400;
        margin: 0.71rem 0;
    }
    .button {
      width: 17.28rem;
      height: 3.85rem;
      @include radius(8px);
      border: 1px solid #ffffff;
      margin: 2.14rem auto;
      a {
        font-size: 22px;
        line-height: 3.85rem;
        text-decoration: none;
        &:hover {
          font-weight: bold;
        }
    }
  }
}

//Avaiable products part

.client_products {
    min-height: 26.78rem;
    background-color: #ffffff;
    @include flexing-row;
    h4 {
        color: #717070;
    }
    h4 {   
        font-size: 18px;
        font-weight: 600;
    }
    li {
      font-size: 14px;
      font-weight: 400;
      line-height: 2.14rem;
      a {
        color: #717070;
        text-decoration: none;
        &:hover {
          color: $primary-color;
        }
      }
    }
  
    ul {
        list-style-image: url("./../images/square.png");
    }
    
}

//Footer part

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #a0a0a0;
    p {
      font-size: 12px;
      margin-right:1rem;
      a {
        color: #a0a0a0;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    span {
        font-size: 16px;
    }
}

