@media(#{$tablet}) {
    .main-width {
        width: 95%;
        margin: $center;
    }

    .nav {
        display: flex;
        flex-direction: column-reverse;
    }

    .bank-name {
        display: block;
        position: relative;
        .menu-bars {
            display: block;
            position: absolute;
            top: 20px;
            float: left;
            font-size: 22px;
            text-indent: 5px;
        }
        p {
            float: right;
        }
    }

    .navbar li {
        display: none;
        width: 90%;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid $primary-color;
        border-right: 0;
        list-style: none;
        &:last-child {
            margin-bottom: 20px;
        }
        &.active{
            display: block;
        }
    }

    .banner {
        padding-bottom: 10rem;
        .text {
            bottom: 0;
            width: 100%;
            height: 11rem;
            @include radius(0);
            p {
                top:5%;
            }
        }
    }

    .colleft {
        a {
            margin: 0;
        }
    }
    .footer {
        flex-direction: column;
        text-align: center;
    }
}
